* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre {
    display: flex;
    height: 100vh;
    background-color: green;
    gap: 80px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hijo {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background-color: red;
    border: 1px solid black;
    text-align: center;
}