body {
  font-family: monospace;
  background-color: black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

main {
  border-radius: 10px;
  box-shadow: 3px 4px 20px 3px #5f9ea0;
}
