@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Dm Sans, serif;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.tarjetas {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}


.tarjeta {
    display: flex;
    width: 400px;
    border: 1px solid #d5dfff;
    border-radius: 10px;
    height: 450px;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.tarjeta .historia {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 100%;
}


.tarjeta .historia p {
    width: 300px;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: small;
    line-height: 24px;
    color: #2f1c6a;
}

.contenedor {
    padding-top: 20px; 
}


.tarjeta .historia .estrellas {
    padding-top: 20px;
    color: rgb(104, 62, 230);
    font-size: 25px;
}

.tarjeta .historia a {
    text-decoration: none;
    color: rgb(104, 62, 230);
    font-weight: bold;
    display: inline-block;
    margin-bottom: 40px;
}


.tarjeta .historia a:hover {
    color: #5025d1;
}

.tarjeta .autor {
    background-color: #f4f5ff;
    width: 100%;
    height: 112px;
    color: rgb(48, 28, 107);
    border-radius: 0 0 6px 6px;
    display: flex;
    flex-direction: row;
    padding: 20px;
}


.tarjeta .autor img {
    height: 64px;
    margin-right: 15px;
    margin-left: 30px;
}

.desc-aut {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
