@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.likes {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: 1px solid #ececec;;
  padding: 12px 10px 0 10px;
  font-family: inter, sans-serif;
  font-size: 14px;

}


.heart {
  height: 30px;
  width: 36px;
}

.fecha {
  color: rgba(0, 0, 0, .9);
  font-family: inter, sans-serif;
  opacity: .7;
  font-size: 12px;
}